<div class="row">
               
               <div class="panel panel-primary">
                        <div class="panel-heading">
                        	<i class="fa fa-gears"> Menu Configuration</i>
                           </div>
                        <div class="panel-body">


<%= form_for PageSetting.new,:url=>{:controller=>"pagemasters", :action=>"pagesetting",remote: true} do|f|%>
<div class="form-group col-md-3"><%= f.collection_select("user_id", User.where(:office_id=>current_user.office_id), 'id', 'first_name',{prompt: "Select User"},{:class=>"form-control"})%></div>

<%@pagemaster=Pagemaster.where(:office_id=>current_user.office_id)%>
<table class="table">

<% @pagemaster.where(:parent_id=>0).each do |k|%>
<tr><td></td><td> <%= check_box_tag 'pages[]', k.id %></td>
        <td><%= k.page_name %> </td></tr>
<% @pagemaster.where(:parent_id=>k.id).each do |p|%>
       <tr><td></td><td></td><td><%= check_box_tag 'pages[]', p.id %></td>
       <td><%= p.page_name %> </td><!--td><input type="checkbox" name="colors-1[]"/>Create</td><td><input type="checkbox" name="colors-1[]"/>Edit</td><td><input type="checkbox" name="colors-1[]"/>Delete</td--></tr>
<%end%>
<%end%>
</table>
<div class="form-group">
<%=f.submit "Configure", :class=>"btn btn-primary"%></span>

<%end%>
</div>
</div>
</div>
<script>

</script>
