<p id="notice"><%= notice %></p>

<h1>Branches</h1>

<table class="table">
  <thead>
    <tr>
      <th>Branch name</th>
      <th>Regional</th>
      <th>Land Line</th>
      <th>Extension</th>
      <th>Alternative_email</th>
      <th>Mobile Number1</th>
      <th>Mobile Number2</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.branch_name %></td>
        <td><%= branch.regional_id %></td>
        <td><%= branch.contact[0].landline %></td>
        <td><%= branch.contact[0].extension %></td>
        <td><%= branch.contact[0].alternative_email %></td>
        <td><%= branch.contact[0].mobilenumber1 %></td>
        <td><%= branch.contact[0].mobilenumber2 %></td>
        <td><%= branch.address[0].address1 %></td>
        <td><%= branch.address[0].address2 %></td>
        <td><%= branch.address[0].city %></td>
        <td><%= branch.address[0].state %></td>
        <td><%= branch.address[0].country %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_branch_path %>
