<div class="row">
                 <div class="col-md-3"></div>  <div class="col-md-6">
               <div class="panel panel-primary">
                        <div class="panel-heading">
                        <strong>TRANSPORTER EDIT FORM</strong>
                        </div>
                        <div class="panel-body">

<%= form_for(@transporter) do |f| %>
  <% if @transporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

      <ul>
      <% @transporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :transporter_name %>
    <%= f.text_field :transporter_name,:class=>"form-control" %>
  </div>

  <div style="display:none;">
        <%= f.text_field :warehouse_id,:class=>"form-control" %>
        <%= f.text_field :warehouse_code %>
  </div>

 <%= f.fields_for :contact_attributes do |ff| %>
  <div class="form-group">
    <%= ff.label :landline %>
    <%= ff.text_field :landline, :value => @transporter.contact[0].landline,:class=>"form-control"%>
  </div>
 
 
 <div class="form-group">
    <%= ff.label :extension %>
    <%= ff.text_field :extension, :value => @transporter.contact[0].extension,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= ff.label :mobilenumber1 %>
    <%= ff.text_field :mobilenumber1, :value => @transporter.contact[0].mobilenumber1,:class=>"form-control" %>
  </div>
 <div class="form-group">
    <%= ff.label :mobilenumber2  %>
    <%= ff.text_field :mobilenumber2, :value => @transporter.contact[0].mobilenumber2,:class=>"form-control"  %>
  </div>
 <div class="form-group">
    <%= ff.label :email %>
    <%= ff.text_field :email, :value => @transporter.contact[0].email,:class=>"form-control" %>
  </div>
<% end %>

<%= f.fields_for :address_attributes do |ff| %>
  <div class="form-group">
    <%= ff.label :address1 %>
    <%= ff.text_field :address1, :value => @transporter.address[0].address1,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :address2 %>
    <%= ff.text_field :address2, :value => @transporter.address[0].address2,:class=>"form-control" %>
  </div>
 <div class="form-group">
    <%= ff.label :country %>
  <select name="transporter[address_attributes[country]]" class="countries form-control" id="countryId">
<option value="">Select Country</option>
</select>
  </div>
 <div class="form-group">
    <%= ff.label :state %>
    <select name="transporter[address_attributes[state]]" class="states form-control" id="stateId">
<option value="">Select State</option>
</select>
  </div>
<div class="form-group">
    <%= ff.label :city %>
<select name="transporter[address_attributes[city]]" class="cities form-control" id="cityId">
<option value="">Select City</option>
</select>
  </div>
<% end %>

 
  <div class="form-group">
    <%= f.submit 'edit',:class=>"btn btn-primary" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>

<%= link_to 'Show', @transporter %> |
<%= link_to 'Back', transporters_path %>

