<div class="row">
                  <div class="col-md-3"></div><div class="col-md-6">
               <div class="panel panel-primary">
                        <div class="panel-heading">
                        
                        </div>
                        <div class="panel-body"><%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><div class="form-group">

 
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name ,:class=>"form-control", :required=>"true"%>
  </div>
  <div class="form-group">

    <%= f.label :customer_code %>
    <%= f.text_field :customer_code ,:class=>"form-control", :required=>"true"%>
  </div>

   <div style="display:none;">
    <%= f.text_field :warehouse_id ,:value => current_user.parent_id%>
    <%= f.text_field :warehouse_code ,:value => current_user.parent_code%>
    <%= f.text_field :office_id ,:value => OfficeType.find_by(:type_name=>"Customer").id%>
  </div>

 <%= f.fields_for :contact_attributes do |ff| %>
 <div class="form-group">

    <%= ff.label :landline %>
    <%= ff.text_field :landline,:class=>"form-control", :required=>"true" %>
  </div>
 
 
  <div class="form-group">

    <%= ff.label :extension %>
    <%= ff.text_field :extension,:class=>"form-control", :required=>"true"%>
  </div>
  <div class="form-group">

    <%= ff.label :mobilenumber1 %>
    <%= ff.text_field :mobilenumber1,:class=>"form-control", :required=>"true" %>
  </div>
 <div class="form-group">

    <%= ff.label :mobilenumber2  %>
    <%= ff.text_field :mobilenumber2,:class=>"form-control", :required=>"true"  %>
  </div>
<div class="form-group">

    <%= ff.label :email %>
    <%= ff.text_field :email,:class=>"form-control", :required=>"true" %>
  </div>
<% end %>

<%= f.fields_for :address_attributes do |ff| %>
 <div class="form-group">

    <%= ff.label :address1 %>
    <%= ff.text_field :address1,:class=>"form-control", :required=>"true" %>
  </div>
 <div class="form-group">
    <%= ff.label :address2 %>
    <%= ff.text_field :address2,:class=>"form-control", :required=>"true" %>
  </div>
<div class="form-group">

    <%= ff.label :city %>
    <%= ff.text_field :city,:class=>"form-control", :required=>"true" %>
  </div>
 <div class="form-group">

    <%= ff.label :state %>
    <%= ff.text_field :state ,:class=>"form-control", :required=>"true"%>
  </div>
<div class="form-group">

    <%= ff.label :country %>
    <%= ff.text_field :country ,:class=>"form-control", :required=>"true"%>
  </div>
<% end %>

 
  <div class="form-group">

    <%= f.submit 'create',:class=>"btn btn-primary"%>
  </div>
<% end %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://lab.iamrohit.in/js/location.js"></script>

