<p id="notice"><%= notice %></p>

<h1>Customerbranches</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Customer</th>
      <th>Land Line</th>
      <th>Extension</th>
      <th>Alternative_email</th>
      <th>Mobile Number1</th>
      <th>Mobile Number2</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customerbranches.each do |customerbranch| %>
      <tr>
        <td><%= customerbranch.customer_name %></td>
        <td><%= customerbranch.customer_id %></td>
        <td><%= customerbranch.contact[0].landline %></td>
        <td><%= customerbranch.contact[0].extension %></td>
        <td><%= customerbranch.contact[0].alternative_email %></td>
        <td><%= customerbranch.contact[0].mobilenumber1 %></td>
        <td><%= customerbranch.contact[0].mobilenumber2 %></td>
        <td><%= customerbranch.address[0].address1 %></td>
        <td><%= customerbranch.address[0].address2 %></td>
        <td><%= customerbranch.address[0].city %></td>
        <td><%= customerbranch.address[0].state %></td>
        <td><%= customerbranch.address[0].country %></td>
        <td><%= link_to 'Show', customerbranch %></td>
        <td><%= link_to 'Edit', edit_customerbranch_path(customerbranch) %></td>
        <td><%= link_to 'Destroy', customerbranch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customerbranch', new_customerbranch_path %>
