<p id="notice"><%= notice %></p>

<h1>Warehouses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Warehouse name</th>
      <th>Branch</th>
      <th>Land Line</th>
      <th>Extension</th>
      <th>Alternative_email</th>
      <th>Mobile Number1</th>
      <th>Mobile Number2</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.warehouse_name %></td>
        <td><%= warehouse.branch_id %></td>
        <td><%= warehouse.contact[0].landline %></td>
        <td><%= warehouse.contact[0].extension %></td>
        <td><%= warehouse.contact[0].alternative_email %></td>
        <td><%= warehouse.contact[0].mobilenumber1 %></td>
        <td><%= warehouse.contact[0].mobilenumber2 %></td>
        <td><%= warehouse.address[0].address1 %></td>
        <td><%= warehouse.address[0].address2 %></td>
        <td><%= warehouse.address[0].city %></td>
        <td><%= warehouse.address[0].state %></td>
        <td><%= warehouse.address[0].country %></td>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
