<!DOCTYPE html>

<html lang="en">
    <head>
 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
   
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/start/jquery-ui.css" rel="Stylesheet" type="text/css" />
  
         <script type="text/javascript">
            $(document).ready(function () {
            $("#smcCompny").change(function () {
            if ($(this).val() === "Dropdown") {
               $(function () {$("#myModal6").modal({
                show: true
                  }) });
                    }

                    });
              });
          
        </script>                 
        
        <script>

            function myFunction() { confirm("Do you want to Create a child attribute");}

       </script>

       <script type="text/javascript">
function closeMe(element) {
  $(element).parent().remove();
}

function addMore() {
  var container = $('#list');
  var item = container.find('.default').clone();
  item.removeClass('default');
  //add anything you like to item, ex: item.addClass('abc')....
  item.appendTo(container).show();
}
</script>

    </head>
  
    <style>
   
        table, th, td {
    
        border: 1px solid #aba2a2;
    
        text-align: center;

        font-family: a;

        }

    </style>

  <body>

    <div style="margin-left: 10%;" class="col-md-12">

       <div class="panel panel-primary">
 
        <div class="panel-heading"><center style="font-family: t;"><strong>Attribute Creation</strong></center></div>
                        
          <div class="panel-body">
    
      <div class="row">  

        <div class="col-sm-1" style="text-align: center; font-family: t;">check box</div>
            
        <div class="col-sm-2" style="text-align: center; font-family: t;">Field Name</div>
            
        <div class="col-sm-2" style="text-align: center; font-family: t;">Field Type</div>
    
        <div class="col-sm-2" style="text-align: center; font-family: t;">For</div>
        
        <div class="col-sm-2" style="text-align: center; font-family: t;">Select one</div>

        <div class="col-sm-2" style="text-align: center; font-family: t;">Remove</div>
         
      </div><br>

      <%if @field_name1 != nil %>

        <%@field_name1.each do |field|%>

          <div class="row">
            
            <div class="col-sm-1" style="text-align: center; font-family: t;"></div>

            <div class="col-sm-2" style="text-align: center; font-family: t;"><%= FieldMaster.where(:id=>field.field_id).to_a[0].field_name%></div>

            <div class="col-sm-2" style="text-align: center; font-family: t;"><%= field.field_type %></div>

            <div class="col-sm-2" style="text-align: center; font-family: t;"><%=field.specification%></div>
            
            <%if field.tree_status == 1%>
            
              <%aa="Child"%>
            
            <%else%>
            
              <%aa="Parent"%>
            
             <%end%>
            
            <div class="col-sm-2" style="text-align: center; font-family: t;"><%="#{aa}"%></div>

            <div class="col-sm-2" style="text-align: center; font-family: t;"><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, images_destroy_field_path(field.id), data: { confirm: 'Are you sure?' },:class=>'btn btn-default'%></div>
          
          </div>
          
        <%end%>
              
      <%end%><br> 
            
      <%= form_for @field,:url=>{:controller=>"images", :action=>"create_attribute"} do|m|%>
                 
        <div class="row">

          <div class="col-sm-1"><%=check_box_tag :check%> </div>

          <div class="col-sm-2" style="text-align: center; font-family: t;"><%= m.select "id",options_from_collection_for_select(FieldMaster.order("field_name ASC"), "id", "field_name"),{:include_blank=>"Select Option"},:class=>"form-control",:required=>"true", :style=>"height: 3.5rem;" %></div>

          <div class="col-sm-2" style="text-align: center; font-family: t;"><%= select_tag(:field_type, options_for_select(['Text', 'Date', 'Dropdown'], selected: :field_type ),:style=>"height: 3.5rem;",:class=>"form-control",:id=>"smcCompny",:required=>"",:include_blank=>"Select Option") %></div>
            
          <div class="col-sm-2" style="text-align: center; font-family: t;"><%= select_tag(:specification, options_for_select(['I', 'D', 'I/D'], selected: :specification ),:style=>"height: 3.5rem;",:class=>"form-control",:required=>"",:include_blank=>"Select Option")%></div>
 
          <div class="col-sm-2" style="text-align: center; font-family: t;"><%= select_tag(:parent, options_for_select(['Parent field','Child field'], selected: :parent ),:style=>"height: 3.5rem;",:class=>"form-control",:required=>"",:include_blank=>"Select Option")%></div>
     
          <div class="col-sm-2" style="text-align: center; font-family: t;"><button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button></div>

          
           
        </div>  
        
      <%end%>
            
    </div>

    </div>

    </div>



    <div style="margin-top: 22%; margin-left: 37%;" class="col-md-15">

      <div class="row">

        <!--a href="/images/digitization"><button type="button" class="btn btn-warning"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;Digitization</button></a-->

        <button style="font-family: t;" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal6"><i class="fa fa-database" aria-hidden="true"></i> Add dropdownvalue</button>

        <button style="font-family: t;" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus" aria-hidden="true"></i> New Field</button>

       <%=link_to " Exit",images_classification_creation_path,:style=>"color:black;",:class=>"btn btn-default fa fa-times"%>

      </div>

    <div class="modal fade" id="myModal2" role="dialog">

      <div class="modal-dialog modal-sm">
    
        <div style="width: 160%;" class="modal-content">
       
          <div class="modal-header">
          
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          
            <h4 class="modal-title"><center>Create Your Field</center></h4>
        
          </div>
        
          <div class="modal-body">
 
            <div class="col-md-12">
            
              <div class="row">
          
                <%= form_for @field,:url=>{:controller=>"images", :action=>"create_attribute",remote: true} do|p|%>

                <div class="col-sm-1"><%=check_box_tag :check,:class=>"form-control"%></div>

               <div class="col-sm-3"><%=p.text_field :field_name,:class=>"form-control",:placeholder=>"Field Name",:required=>""%></div>

                <div class="col-sm-3"><%= select_tag(:field_type, options_for_select(['Text', 'Date', 'Dropdown'], selected: :field_type ),:id=>"smcCompny",:style=>"height: 3.5rem; font-family: t;",:class=>"form-control",:required=>"",:include_blank=>"Select Option") %></div>

              <div class="col-sm-3"><%= select_tag(:specification, options_for_select(['I', 'D', 'I/D'], selected: :specification ),:style=>"height: 3.5rem; font-family: t;",:class=>"form-control",:required=>"",:include_blank=>"Select Option") %></div>

               <div class="col-sm-2" style="text-align: center;"><%= select_tag(:parent, options_for_select(['Parent field','Child field'], selected: :parent ),:style=>"height: 3.5rem; font-family: t;",:class=>"form-control",:required=>"",:include_blank=>"Select Option")%></div>
                
             </div>

            </div>
   
          </div><br>
        
          <div class="modal-footer">
          
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
           
            <%end%>
        
          </div>
      
        </div>
    
      </div>

    </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal6" role="dialog">

    <div class="modal-dialog modal-sm">

      <div class="modal-content">

        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
 
          <center><h4 class="modal-title font">Dropdownlist</h4></center>
 
        </div>
 
        <div class="modal-body">
           
          <%= form_for @dropdown, :url=>{:controller=>"images", :action=>"create_dropdownvalue"} do|s|%>
                
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

            <ul id="list">
    
              <li class="default" style="display: none;">
        
                <input name="values[]" type="text"/><span style="cursor: pointer;" onclick="closeMe(this);"><i class="fa fa-trash" aria-hidden="true"></i></span>

              </li>

            </ul>
       
        </div>
        
        <div class="modal-footer">

          <a href="#" onclick="addMore();" class="btn btn-primary" style="color:white;"><i class="fa fa-plus fa-1x"></i> ADD</a>

          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Submit</button>

          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
            
          <%end%>

        </div>
     
      </div>
   
    </div>
  
  </div>

</body>

</html>
