
<style>
.font {font-family: t;}
 
</style>
<script> function myFunction() { confirm("Do you want to create a field"); } </script>

<% if flash[:notice] %>

  <center><div style="color: green;" class="alert alert"><%= flash[:notice]%></div></center>

<% end %>

<div style="width: 125%;" class="panel panel-primary">
 
  <div class="panel-heading"><strong class="font">Classification Creation</strong> <button style="margin-left: 70%;" type="button" class="btn btn-default btn-sm font" data-toggle="modal" data-target="#myModal"><i class="fa fa-font-awesome" aria-hidden="true"></i> New classification</button></div>
    <div class="panel-body">
      <%@all_classification.map do |i|%>

          <div class="col-md-4">
  
              <i class="fa fa-link fa-1x" aria-hidden="true"></i>&nbsp;<%=link_to i.classification_name,images_attribute_creation_path(i),:class=>"font"%>

            </div>   
         
      <%end%>
     
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
        <div style="width: 400px;" class="modal-dialog" role="document">
    
          <div class="modal-content">
      
            <div class="modal-header">
        
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
              <center><h4 class="modal-title font" id="myModalLabel">Create Category</h4></center>
      
            </div>
      
            <div class="modal-body">
     
              <%= form_for @classification,:url=>{:controller=>"images", :action=>"create_classification"} do|i|%>
     
              <table>

                <tr>

                  <td><%= i.label :classification_name,"Classification Name:" ,:class=> "font"%></td>

                  <td><%=i.text_field :classification_name,:required=>"",:class=> "form-control font"%></td>

                </tr>
         
                <tr>

                  <td><%= i.label :classification_description,"Classification Description:",:class=> "font"%></td>
            
                  <td><%=i.text_field :classification_description,:required=>"",:class=> "form-control font"%></td>

                </tr>

              </table>  
      
            </div>
      
            <div class="modal-footer">
        
              <button type="button" class="btn btn-default font" data-dismiss="modal">Close</button>

              <%=i.submit "Save",:class=>"btn btn-primary font",:onclick=>"myFunction()" %>
     
              <%end%>
    
            </div>
    
          </div>
  
        </div>
 
      </div>

  
    </div>
    
</div>
