<!DOCTYPE html>
<html>
  <head>
    <title>CloudDataManagement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <%if current_user%>

    <%= render 'layouts/header' %>
   <div id="wrapper">
   <div id="page-wrapper">
      <div class="container-fluid">
  <%end%>
 <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
    <%= yield %>
   </div>
 </div>
  </div>
  </body>
</html>
